#encuesta{
    background: $fondo_sobre;
    position: absolute;
}

.mm-survey {
    margin-top: 75px;
    margin-bottom: 50px;
}

.mm-survey-container {
    width: 100%;
    min-height: 600px;
    background: $fondo_sobre;
}

.mm-survey-results-container {
    width: 100%;
    min-height: 600px;
    background: $fondo_sobre;
}

.mm-survey-page {
    display: none;
    font-weight: 1000;
    padding: 40px;
}

.mm-survey-page.active {
    display: block;
}

.mm-back-btn {
    display: inline-block;
    position: relative;
}

.mm-next-btn,
.mm-finish-btn {
    display: inline-block;
    position: relative;
}

.mm-survey-controller button,
.mm-finish-btn button {
    background: #fff;
    border: none;
	margin-bottom: 200px;
    padding: 8px 18px;
    font-weight: 1000;
    cursor: pointer;
}

.mm-finish-btn {
    display: inline-block; /* Muestra siempre el botón "Finalizar" */
    margin-left: auto; /* Empuja el botón "Finalizar" hacia la derecha */
}

.mm-finish-btn button {
    background: #3DD2AF !important;
    color: #fff;
}

.mm-survey-results {
    display: none;
}

.mm-survey-results-score {
	color: #B59795;
    margin: 0px;
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 80px;
    font-weight: 1000;
    letter-spacing: -6px;
}

.mm-survey-progress {
    width: 100%;
    height: 30px;
    background: #FDF5E2;
    overflow: hidden;
}

.mm-progress {
    transition: width 0.5s ease-in-out;
}

.mm-survey-progress-bar {
    height: 30px;
    width: 0%;
    background: linear-gradient(to left, #F3C1CA, #F3C1CA);
}

.mm-survey-q {
    list-style-type: none;
    padding: 0px;
}

.mm-survey-q li {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    background: #B59795;
}

.mm-survey-q li input {
    width: 100%;
}

.mm-survery-content label {
    width: 100%;
    padding: 10px 10px;
    margin: 0px !important;
}

.mm-survery-content label:hover {
    cursor: pointer;
}

.mm-survey-question {
    min-height: 100px;
}

.mm-survey-question p {
	color: #B59795;
    font-size: 22px;
    font-weight: 1000;
    margin-bottom: 20px;
    line-height: 40px;
}

.mm-survery-content label p {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 5px;
    margin: 0px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    color: #B59795;
    font-weight: 1000;
    font-size: 16px;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
}

input[type="radio"] + label span {
    background-color: #B59795;
}

input[type="radio"]:checked + label span {
    border: 2px solid #C9E2FD;
    background: #C9E2FD;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
    transition: background-color 0.20s ease-in-out;
}

.mm-survey-item {
    background: #fff;
    margin-bottom: 15px;
    border-bottom: 1px solid #B59795;
    border-radius: 0px 0px 4px 4px;
}



.mm-item-number {
    height: 40px;
    position: relative;
    padding: 17px;
    background: #B59795;
    color: #fff;
}

.mm-item-info {
    float: right;
}
