$btn-ganancia-color: #B9DFD2;
$txt-ganancia-color: #67C8A1;
$borde-color: #F3C1CA;
$padding: 20px;
$margin-bottom: 20px;

#ganancia {
    background: $fondo-sobre;
    position: absolute;
}

.header-ganancia {
    display: flex;
    align-items: center;
}
.header-ganancia img {
    height: 40px;
}

.icono-redireccion {
     margin-right: 10px;
  }

 .boton.volver {
   margin-left: 0px;
   height: 20px;
   width: 20px;
   margin-top: 10px;
 }
    

.titulo-ganancia {
    font-size: 36px;
    color: $txt-ganancia-color;
    text-align: center;
    margin-bottom: $margin-bottom;
}

.imagen-ganancia {
    max-width: 80%;
    height: auto;
    margin-bottom: $margin-bottom;
}

.texto-cantidad {
    font-size: 18px;
    text-align: center;
    margin-bottom: $margin-bottom;
}

.input-ganancia {
    width: 80%;
    padding: 10px;
    border: 2px solid $borde-color;
    border-radius: 10px;
    margin-bottom: $margin-bottom;
    font-size: 16px;
    text-align: center;

    &:focus {
        outline: none;
    }
}

.boton-aceptar {
    background-color: $btn-ganancia-color;
    color: $txt-ganancia-color;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($btn-ganancia-color, 10%);
   }
}
