$fondo_home:#FDF5E2;
$fondo_splash:#FDF5E2;
$fondo_sobre:#FDF5E2;
$btn-color: #B59795;
$txt-color: white;
$btn-ganancia-color: #B9DFD2;
$txt-ganancia-color: #458B6F;
$borde-color: #F3C1CA;
$saldo-color: #B59795;
$txt-general: #B59795;
$btn-gasto-color: #D6C6E1;
$txt-opciones-color: #E58899;
$txt-gasto-color: #7D63A8;
$separador-color: #F4CB94;
$opcion-borde-color: #F8D7DE;

body{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: "Dosis", sans-serif;
}
section{
    width:393px;
    height:800px;
    text-align:center;
    margin:0 auto;
}
.boton{
    background-color: $btn-color;
    color:$txt-color;
    padding: 10px;
    text-decoration: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center; 
    line-height: 20px;
}
.volver{
    margin-left: -350px;
    line-height: 60px;
}
.ocultar{
    display: none;
}