#sobre{
    background: $fondo_sobre;
    position: absolute;
}
#sobre b{
    margin-left: 0px;
    margin-right: 10px;
    padding: 20px;
    position: relative;
    color: #BA8A77;
}

#sobre h3 {
    margin-left: 20px;
    margin-right: 20px;
    color: #E58193;
}

#natalia{
    color: #60A990;
}

#valeria{
    color: #C88E42;
}

#jeronimo{
    color: #6986AB;
}
